<h1>Admin Dashboard</h1>

<table class="table">
    <tbody>
      <tr>
        <td>Products</td>
        <td><%= @product %></td>
      </tr>
      <tr>
        <td>Categories</td>
        <td><%= @category %></td>
      </tr>
    </tbody>
  </table>
<button type="button" class="btn">
<%= link_to 'Products',  [:admin, :products] %>
</button>