<div class="jumbotron">
  <h1>The Jungle</h1>
  <p>What comes to mind when one thinks of a <i>Jungle</i>?</p>
  <p>There is a lot of things in the jungle, things that sprout out of nowhere, things that not like the other things beside it, things that are not previously known</p>
  <p>That is what the <i>Jungle</i> is.</p>
  <p>The <i>Jungle</i> is about volume and diversity, about fast growth and novelty. We carry all kinds of wares looking for opportunities to set trends in all aspects of life.</p>
</div>